/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset*/
body {
  font-family: "Roboto", sans-serif;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  text-decoration: none;
}
h1 {
  font-size: 48px; 
  font-weight: 900; 
  color: #F9FAF8;
}
header {
  color: #E5E7EB;
  background-color: #1F2937;
  font-size: 18px;
  font-weight: 400;
  padding: 0 10%;
}
header ul {
  display: flex;
  gap: 16px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}
.hero {
  font-size: 18px;
  font-weight: 300;
  color: #E5E7EB;
  background-color: #1F2937;
  gap: 150px;
  display: flex;
  flex: 1 0 auto;
  height: 500px;
  align-items: center;
}
.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-justify: left;
}
.hero-left button {
  background-color: #3882F6;
  border: none;
  border-radius: 10%;
  color: #E5E7EB;
  width: 100px;
  height: 30px;
  margin: 18px 0;
}
.hero-img {
  background-color: rgba(238, 238, 238, .25);
  width: 50%;
  height: 350px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  color: #1F2937
}
.info h3 {
  font-size: 36px;
  font-weight: 900;
}
.info-cards {
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 150px;
  align-items: center;
  gap: 8px;
}
.card-border {
  height: 150px;
  width: 150px;
  border: #3882F6 solid 3px;
  border-radius: 15%;
}
